@import "../../../variables.scss";

.Main{
    overflow: auto;
}

.Label, legend{
    color:$more-blue !important;
    font-size: 1.2rem !important;
}

.FitContent{
    width: fit-content;
}