@import "../../../../variables.scss";

.EmployeeItem{
    background-color: $blue;
    border-radius: 10px;
    color: $yellow;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all .2s linear;
    &:hover, &.selected{
        background-color: $more-blue;
        color: $more-yellow;
    }
}

.Sex{
    border:1px solid $yellow;
    border-radius: 50%;
    padding: 1px 5px;
}

p{
    overflow-wrap: break-word;
}