@import "./variables.scss";
@import "bootstrap";

html {
  font-size: $fs;
  font-family: $ff;
}

body {
  background-color: $blue;
}

html {
  @include media-breakpoint-down(md) {
    font-size: 0.9 * $fs;
  }
  @include media-breakpoint-down(sm) {
    font-size: 0.7 * $fs;
  }
}
