@import "../../variables.scss";
@import "bootstrap";

.ListWithToolBar, .EditorPanel{
    background-color: $yellow;
    border-radius: 10px;
}

.ListWithToolBar{
    @include media-breakpoint-down(sm){
        margin-bottom: 3rem;
    }
}

hr{
    background-color: $blue;
}